NET "camera" LOC = P22 | IOSTANDARD = LVTTL | PULLUP;
NET "laser1" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "laser2" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "laser3" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "laser4" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl1" LOC = P2 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl2" LOC = P6 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl3" LOC = P8 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl4" LOC = P10 | IOSTANDARD = LVTTL | PULLUP;
NET "servo1" LOC = P80 | IOSTANDARD = LVTTL;
NET "servo2" LOC = P82 | IOSTANDARD = LVTTL;
NET "servo3" LOC = P84 | IOSTANDARD = LVTTL;
NET "servo4" LOC = P87 | IOSTANDARD = LVTTL;
NET "pwm1" LOC = P101 | IOSTANDARD = LVTTL;
NET "pwm2" LOC = P104 | IOSTANDARD = LVTTL;