NET "camera" LOC = P22 | IOSTANDARD = LVTTL | PULLUP;
NET "laser1" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "laser2" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "laser3" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "laser4" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;