NET "camera_in" LOC = P88 | IOSTANDARD = LVTTL | PULLUP;
NET "camera_out" LOC = P95 | IOSTANDARD = LVTTL | PULLUP;

NET "laser0" LOC = P57 | IOSTANDARD = LVTTL | PULLUP;
NET "laser1" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "laser2" LOC = P74 | IOSTANDARD = LVTTL | PULLUP;
NET "laser3" LOC = P79 | IOSTANDARD = LVTTL | PULLUP;
NET "laser4" LOC = P80 | IOSTANDARD = LVTTL | PULLUP;
NET "laser5" LOC = P83 | IOSTANDARD = LVTTL | PULLUP;
NET "laser6" LOC = P84 | IOSTANDARD = LVTTL | PULLUP;
NET "laser7" LOC = P92 | IOSTANDARD = LVTTL | PULLUP;

NET "ttl0" LOC = P104 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl1" LOC = P112 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl2" LOC = P114 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl3" LOC = P117 | IOSTANDARD = LVTTL | PULLUP;

NET "servo0" LOC = P143 | IOSTANDARD = LVTTL | PULLUP;
NET "servo1" LOC = P142 | IOSTANDARD = LVTTL | PULLUP;
NET "servo2" LOC = P139 | IOSTANDARD = LVTTL | PULLUP;
NET "servo3" LOC = P138 | IOSTANDARD = LVTTL | PULLUP;
NET "servo4" LOC = P133 | IOSTANDARD = LVTTL | PULLUP;
NET "servo5" LOC = P132 | IOSTANDARD = LVTTL | PULLUP;
NET "servo6" LOC = P126 | IOSTANDARD = LVTTL | PULLUP;

NET "pwm0" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "pwm1" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "pwm2" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "pwm3" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "pwm4" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;