NET "camera" LOC = P22 | IOSTANDARD = LVTTL | PULLUP;
NET "laser1" LOC = P1 | IOSTANDARD = LVTTL | PULLUP;
NET "laser2" LOC = P2 | IOSTANDARD = LVTTL | PULLUP;
NET "laser3" LOC = P5 | IOSTANDARD = LVTTL | PULLUP;
NET "laser4" LOC = P6 | IOSTANDARD = LVTTL | PULLUP;
NET "laser5" LOC = P7 | IOSTANDARD = LVTTL | PULLUP;
NET "laser6" LOC = P8 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl1" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl2" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl3" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl4" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl5" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;
NET "ttl6" LOC = P27 | IOSTANDARD = LVTTL | PULLUP;
NET "servo1" LOC = P80 | IOSTANDARD = LVTTL;
NET "servo2" LOC = P82 | IOSTANDARD = LVTTL;
NET "servo3" LOC = P84 | IOSTANDARD = LVTTL;
NET "servo4" LOC = P87 | IOSTANDARD = LVTTL;
NET "servo5" LOC = P92 | IOSTANDARD = LVTTL;
NET "servo6" LOC = P94 | IOSTANDARD = LVTTL;
NET "pwm1" LOC = P101 | IOSTANDARD = LVTTL;
NET "pwm2" LOC = P104 | IOSTANDARD = LVTTL;
NET "pwm3" LOC = P111 | IOSTANDARD = LVTTL;
NET "pwm4" LOC = P114 | IOSTANDARD = LVTTL;
NET "pwm5" LOC = P116 | IOSTANDARD = LVTTL;
NET "pwm6" LOC = P118 | IOSTANDARD = LVTTL;